@model StringalyzerViewModel;
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <form asp-controller="Home" asp-action="Index" method="post">
        <input name="input" type="text" value=""/>
        <input type="submit" value="ANALYZE"/>
    </form>
    <div id="results">
        @Html.DisplayForModel()
    </div>
</div>
